#title1 {
    color:salmon;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:left;
    font-size: 80px; */
}

#title12 { 
    color:sandybrown;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 45px; */
}

#logo {
    padding-left:100px;
    padding-right:20px;
}

#pedido {
    color:salmon;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    padding-left:450px;
}

#phone {
    color:orangered;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    padding-left:700px;
}

#map_container {
    width:1500px;
    height: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color:rgb(170, 239, 241); */
    color:rgb(14, 155, 141);
}

#direccion {
    padding-top:15px;  
} 

#map {
    height: 390px;
}

/* #landing_images {
    height: 400px;
} */