<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Regio Lupita</title>
  <link rel="stylesheet" href="./static/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/f5a9f997c8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="http://d3js.org/d3.v4.js"></script>
</head>
<body>
    
<!-- <div> -->

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar1">
    
      <div class="row" id="logo">
        <img src="static/images/Logo.png" alt="logo" width=180 height=180>
        
      </div> -->
      <!-- <div class="row"> -->
        <!-- <h5 id="pedido">Haz tu pedido:</h5> -->
        <!-- <h5 id="phone"><i class="fas fa-phone-alt"></i> 81 8881 8260</h5>
      </div>
    
      <div class="col-md-1">
        <a href="https://www.facebook.com/Empanadas-Regio-Lupita-334320000058860"><h5 id="facebook"><i class="fab fa-facebook"></i></h5></a>
      </div> -->
  <!-- </nav>
</div> -->
    <!-- <div class="container-fluid">
      <div class="row justify-content-center">
        <h1 class="display-2" id="title1">REGIO LUPITA</h1>
        
      </div>
      <div class="row justify-content-center">
      <h5 class="display-2" id="title12">Empanadas y Hojarascas</h5>
      </div>
    </div> -->

    <span class="position-relative align-items-center">
      
      <figure class="figure">
        <div class="position-relative<img src="static/images/portada.jpg" class="figure-img img-fluid rounded-pill" alt="piña">
      </figure>
            <div class="position-absolute top-50 start-50 translate-middle"><h1 class="display-2" id="title1">REGIO LUPITA</h1></div> 
            <div class="position-absolute top-50 start-50 translate-middle"><h2 class="fw-lighter" id="title12"> Repostería</h2></div>
        </div>
    </span>
            
            
          
            <!-- <figcaption class="figure-caption text-end">EMPANADAS DE PIÑA</figcaption> -->
  
         
            
    
        
  <span class="position-relative align-items-center">
          <figure class="figure">
            <div class="position-relative><img src="static/images/mitad_cajeta.jpg" class="figure-img img-fluid rounded-circle" alt="cajeta"></div>
            <!-- <figcaption class="figure-caption text-end">EMPANADAS DE CAJETA</figcaption> -->
          </figure>
      
  </span>
    <div class="position-relative">
      <div class="container align-items-center" id="map_container"> 
                <h2 class="display-6">Sierra Tarahumara 709, Las Puentes 6º Sector, San Nicolás de los Garza, N.L.</h2>

          <div class="container-fluid" id="map">
          </div>
      </div>
    <div class="container row justify-content-center" id="direccion">
      <!-- <div class="row justify-content-center"> -->
      <a href="https://www.facebook.com/Empanadas-Regio-Lupita-334320000058860"><p id="fb">Síguenos en Facebook <i class="fab fa-facebook-square"></i></a></p>
      <!-- </div> -->
    </div>
    </div>
  

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
<!-- D3 CDN -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- JS -->
<script type="text/javascript" src="./static/js/config.js"></script>
<script type="text/javascript" src="./static/js/map.js"></script>
<script type="text/javascript" src="./static/js/d3.js"></script>



<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

</body>

</html>
